/*------------------------------------------------------------------

[Layout Stylesheet]

Project:
Version: 1.0
Last change:
Assigned to:


[Table of contents]

1. Global
2. Navbar / .navbar
3. Subnavbar / .subnavbar
4. Main / .main
5. Footer / .footer
6. Widget / .widget
7. Error / .error-container
8. Miscellaneous

-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Global]
*/
body{
background: #F7F7F7 url(../img/tile_3.gif) repeat 0 0;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -314px;
}
.push {
    height: 315px;
}

.content {
margin-top: 30px;
}


/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/
.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 18px;
  overflow: visible;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar {
  color: #999999;
}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}

.navbar .navbar-link {
  color: #999999;
}

.navbar .navbar-link:hover {
  color: #ffffff;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}

.navbar .btn-group .btn {
  margin: 0;
}

.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}

.navbar-form:before,
.navbar-form:after {
  display: table;
  content: "";
}

.navbar-form:after {
  clear: both;
}

.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 5px;
}

.navbar-form input,
.navbar-form select {
  display: inline-block;
  margin-bottom: 0;
}

.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
  margin-top: 3px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-top: 6px;
  white-space: nowrap;
}

.navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #626262;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav.pull-right {
  float: right;
}

.navbar .nav > li {
  display: block;
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 5px 5px 6px;
  line-height: 18px;
}

.navbar .btn-group {
  padding: 5px 5px 6px;
  margin: 0;
}

.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
}

.navbar .divider-vertical {
  width: 1px;
  height: 40px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}

.navbar .nav.pull-right {
  margin-right: 0;
  margin-left: 10px;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #080808 \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.navbar-fixed-bottom .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar-fixed-bottom .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar .nav li.dropdown.active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}

.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
  color: #ffffff;
}

.navbar .pull-right .dropdown-menu,
.navbar .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar .pull-right .dropdown-menu:before,
.navbar .dropdown-menu.pull-right:before {
  right: 12px;
  left: auto;
}

.navbar .pull-right .dropdown-menu:after,
.navbar .dropdown-menu.pull-right:after {
  right: 13px;
  left: auto;
}

.navbar, .navbar .brand, .navbar .nav > li > a {
position: relative;
color: #bbb;
font-weight: 500;
font-size: 13px;
}

.navbar .brand:hover {
  text-decoration: none;
  color: #fff;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 11px 20px 12px;
  margin-left: -20px;
  font-size: 14px;
  text-shadow: none;
}


/*------------------------------------------------------------------
[3. Apphead / .apphead && Appfoot / .appfoot]
*/
.apphead {
  background: #EFEFEF url(../img/tile_1.gif) repeat 0 0;
  /*border: 1px solid #e5e5e5;*/
  border-bottom: 1px solid #eee;
  padding: 20px 0 15px 0;
  
}
a.appbrand, a.appbrand:hover {
font-family: "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
font-size: 48px;
line-height: 1;
letter-spacing: -1px;
color: #333;
text-decoration: none;
text-shadow: 1px 1px 0px #f3f3f3;
}

.apphead .search {
margin-top: 10px;
}
#simplesearch {
width: 60%;
}

.appfoot {
  background-color: #FFF;
  /*border: 1px solid #e5e5e5;*/
  border-top: 1px solid #e3e3e3;
  padding: 20px 0 10px 0;
  
}
.appfoot li:first-child {
padding-left: 0px;
margin-left: -12px;
}


/*------------------------------------------------------------------
[4. Subnavbar / .subnavbar]
*/


.subnavbar {
  
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  background: #E5E5E5 url(../img/tile_2.gif) repeat 0 0;
  /*border: 1px solid #e5e5e5;*/
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #d3d3d3;
}

.subnavbar .nav {
  margin-bottom: 0;
}
.subnavbar .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #555;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #cecece;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.subnavbar .nav > .active > a,
.subnavbar .nav > .active > a:hover,
.subnavbar .nav > li > a:hover {
  padding-left: 13px;
  color: #777;
  /*background: #e9e9e9 url(../img/active_tile.gif) repeat 0 0;*/
  background: none;
  border-top: 1px solid #ddd;
  border-right-color: #bfbfbf;
  border-left: 0;
  -webkit-box-shadow: inset 1px 3px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 3px 5px rgba(0,0,0,.1);
          box-shadow: inset 1px 3px 15px rgba(0,0,0,.1);
}
.subnavbar .nav > .active > a .caret,
.subnavbar .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnavbar .nav > li:first-child > a,
.subnavbar .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
}
.subnavbar .nav > li:last-child > a {
  border-right: 0;
}
.subnavbar .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/*------------------------------------------------------------------
[4. Box Unit / .box-unit]
*/

.box-unit {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ddd;
  
}

/*------------------------------------------------------------------
[5. Company Footer / .co-foot]
*/

.co-foot {
  background-color: #333;
  padding: 20px 0 16px 0;
  color: #999;
}
.co-foot .row:first-child {
margin-bottom: 10px;
}
.co-foot p span {
color: #666;
}
.co-foot .search-query {
background-color: #444;
margin-top: -5px;
border: 1px solid #222;
}
.co-foot .search-query:-moz-placeholder {
  color: #777;
}

.co-foot .search-query:-ms-input-placeholder {
  color: #777;
}

.co-foot .search-query::-webkit-input-placeholder {
  color: #777;
}

.co-foot .search-query:focus,
.co-foot .search-query.focused {
  padding: 5px 10px;
  color: #444;
  text-shadow: 0 1px 0 #f2f2f2;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.co-foot .social-media {
}
.co-foot .social-media li {
display: block;
float: left;
font-size: 14px;
padding: 2px;
}
.co-foot a i {
font-size: 16px;
color: #999;
}
.co-foot .social-media li a {
color: #777;
border-color: #333;
padding: 3px 6px;
}
.co-foot .social-media li a:hover {
color: #333;
border-color: #333;
}