
/*------------------------------------------------------------------

[Layout Stylesheet]

	Project:		
	Version:		1.0
	Last change:	
	Assigned to:	


[Table of contents]

	1. Global
	2. Navbar / .navbar
	3. Subnavbar / .subnavbar
	4. Main / .main
	5. Footer / .footer
	6. Widget / .widget
	7. Error / .error-container
	8. Miscellaneous

-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Global]
*/
body {
	background-color: #eee;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -161px;
}
.push {
    height: 160px;
}


/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/

.navbar .container-fluid {
	position: relative;
}

.navbar-inner {
	
	background: #292929;
	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top {
	position: static;
}

.navbar .nav a {
}

.navbar .brand {
	position: relative;
	color: #bbb;
}

.navbar .search-query {
	background-color: #444;
	width: 150px;
	font-size: 11px;
	font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
    color: #666;
}

.navbar .search-query:-moz-placeholder {
    color: #666;
}

.navbar .label {
	
}

.navbar-inner {
	padding-top: 5px;
}

/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar {
    	margin-bottom: 1.5em;
    	background-color: #292929;
}


.subnavbar .nav-tabs {
  border-bottom: 0px solid #292929;
  padding: 0;
  margin: 10px 0 0 0;
}

.subnavbar .nav-tabs > li {
	background-color: #666;
	color: #fff;
	margin: 0 3px;
	padding: 0;
}
.subnavbar .nav-tabs > li i{
	margin-bottom: -1px;
}
.subnavbar .nav-tabs > li:first-child {
	margin-left: 0px;
}
.subnavbar .nav-tabs > li:last-child {
	margin-right: 0px;
}
.subnavbar .nav-tabs > li > a{
	border: none;
	background-color: #666;
	color: #efefef;
	padding: 6px 9px;
	margin: 0;
	-webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
}
.subnavbar .nav-tabs > li > a:hover{
	border: none;
	background-color: #eee;
	color: #333;
}
.subnavbar .nav-tabs > .active > a,
.subnavbar .nav-tabs > .active > a:hover{
	border: none;
	cursor: default;
	color: #333;
	background-color: #eee;
}


/*------------------------------------------------------------------
[4. Main / .main]
*/

.page-unit {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 3px 1px 4px #ccc;
}
.page-unit h1 {
  font-size: 30px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
  padding-bottom: 20px;
}
.page-head {
  background-color: #ddd;
  color: inherit;
  margin: -20px -20px 20px -20px;
  padding: 20px 20px 0 20px;
}

/*------------------------------------------------------------------
[5. Extra / .extra]
*/

.hero-unit {
	background-color: #fdfdfd;
}


.sidebar-nav-fixed {
    position:fixed;
    top: 106px;
    
}

/*------------------------------------------------------------------
[6. Company Footer / .co-foot]
*/

.co-foot {
  background-color: #333;
  padding: 20px 0 15px 0;
  color: #999;
}
.co-foot .row:first-child {
	margin-bottom: 10px;
}
.co-foot p span {
	color: #666;
}
.co-foot .search-query {
	background-color: #444;
	margin-top: -5px;
	border: 1px solid #222;
}
.co-foot .search-query:-moz-placeholder {
  color: #777;
}

.co-foot .search-query:-ms-input-placeholder {
  color: #777;
}

.co-foot .search-query::-webkit-input-placeholder {
  color: #777;
}

.co-foot .search-query:focus,
.co-foot .search-query.focused {
  padding: 5px 10px;
  color: #444;
  text-shadow: 0 1px 0 #f2f2f2;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.co-foot .social-media {
}
.co-foot .social-media li {
	display: block;
	float: left;
	font-size: 14px;
	padding: 2px;
}
.co-foot a i {
	font-size: 16px;
	color: #999;
}
.co-foot .social-media li a {
	color: #777;
	border-color: #333;
	padding: 3px 6px;
}
.co-foot .social-media li a:hover {
	color: #333;
	border-color: #333;
}


/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}